img {
  max-width: 100%;
}

main {
  margin-right: 10%;
  margin-left: 10%;
}

body {
  background-image: url(ikoner/baggrund_2.jpg);
  background-size: cover;
}
@font-face {
  font-family: "ageta";
  src: url("font/agetachubbydemo-o7l6-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
p,
h2,
h3,
h4,
a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
}
h1 {
  font-family: "ageta";
}

/* navigation */
header {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 120px;
  height: 40px;
  display: inline-block;
  transform: skew(-30deg);
  overflow: hidden;
  border-radius: 5px;
}

.outline {
  box-sizing: border-box;
  border: 2px solid #222cf2;
  color: #000000;
  transition: all 150ms ease-in-out;
  right: 0;
}

.outline:hover {
  background-color: #222cf2;
}

.outline li:hover {
  color: #fff;
}

.outline:active {
  background-color: #222cf2;
}

.unskew {
  transform: skew(30deg);
  line-height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}

nav li {
  text-align: center;
  font-style: normal;
  list-style: none;
  padding-top: 0.5rem;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0.25em;
}

#shopcartnav {
  padding-right: 40px;
}

/*----footer-----*/
@media (min-width: 700px) {
  footer {
    display: flex;
    justify-content: space-evenly;
  }
}

footer {
  padding-top: 50px;
  gap: 30px;
  text-align: center;
  padding-top: 5rem;
  font-size: clamp(0.7rem, 3vw, 1rem);
  line-height: 2rem;
}

/* button styling */
button {
  background: none;
  cursor: pointer;
  border: none;
  transition: transform 0.4s;
  font-size: 1.5rem;
  text-decoration: underline;
}

button:hover {
  transform: scale(1.2);
}
