* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  margin-right: 10%;
  margin-left: 10%;
}

body {
  background-image: url(ikoner/baggrund_2.jpg);
  background-size: cover;
}
@font-face {
  font-family: "ageta";
  src: url("font/agetachubbydemo-o7l6-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
p,
h2,
h3,
h4 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
}
h1 {
  font-family: "ageta";
}

nav {
  display: flex;
  justify-content: space-between;
}

.links img {
  display: flex;
  padding-top: 2rem;
  width: 100%;
}

.links {
  display: flex;
  width: 8rem;
  gap: 25px;
  margin-right: 4rem;
}
.shop {
  text-decoration: none;
  color: black;
  font-family: neue-haas-grotesk-display;
  margin-top: 2.3rem;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.logo img {
  width: 40%;
  padding-top: 0.5rem;
  margin-left: 2rem;
}

/*----footer-----*/
@media (min-width: 768px) {
  footer {
    display: flex;
    gap: 175px;
    place-content: center;
  }
  .footer_col_2 {
    display: flex;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  footer {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 15px;
  }
}
footer {
  margin-top: 4rem;
  border: solid 1px white;
}
footer p {
  font-size: 0.7rem;
}
